<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>
        <%- include ('../partials/sidebar', {profiles: false, qr_codes: true}) %>
            <div class="flex-container row justify-content-center" style="margin-left:20rem; margin-top:3rem;">
                <div class="col-lg-10 col-sm-12 mt-5">
                    <div class="shadow rounded flex-container p-3" style="min-height:20rem;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Scans</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% qrcodes.forEach(qrcode => { %>
                                    <tr class="align-middle">
                                        <td scope="row">
                                            <%- qrcode.id %>
                                        </td>
                                        <td>
                                            <%- qrcode.name %>
                                        </td>
                                        <td>
                                            <%- qrcode.scans %>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <%- include ('../partials/footer') %>