<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="flex-container row justify-content-center mb-5" style="margin-top:10rem;">
    <div class="col-lg-10 col-sm-12">
        <div class="d-flex justify-content-end align-content-end mt-3 p-2">
            <a class="btn btn-primary px-3 mx-1" href="/qrcode">
                <svg fill="#fff" class="bi me-2" width="16" height="16">
                    <use xlink:href="#qr-code"></use>
                  </svg>QR Codes
            </a>
        </div>
        <div class="shadow rounded flex-container p-3">
            <form class="form" action="/profiles/<%- profile_id %>" method="POST" enctype="multipart/form-data">
                <div class="text-center mb-3 align-items-center">
                    <div class="d-flex justify-content-center mb-2">
                        <div id="prof_picture" style="border-radius: 50%; background-image: url('/public/img/profile/<%- image %>'); background-size:cover; width:15rem; height:15rem;"></div>
                    </div>
                    <input class="form-control" accept="image/*" type="file" id="fileUpload" name="prof_picture" hidden/>
                    <label for="fileUpload" class="link-primary" style="cursor:pointer;">Change Picture</label>
                </div>
                <h3 class="fs-4 fw-light text-secondary">Name</h3>
                <hr>
                <div class="row p-0">
                    <div class="form-floating col-2">
                        <select class="form-select" id="prefix" name="prefix">
                            <option value="<%- prefix %>" selected>
                                <%- prefix %>
                            </option>
                            <option value="">None</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Dr.">Dr.</option>
                        </select>
                        <label for="prefix">Prefix</label>
                    </div>
                    <div class="form-floating mb-3 col">
                        <input type="text" class="form-control" id="first_name"
                            name="first_name" value="<%- first_name %>">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="form-floating mb-3 col-1">
                        <input type="text" class="form-control" id="middle_name"
                            name="middle_name" value="<%- middle_name %>">
                        <label class="text-center" for="middle_name">M.I.</label>
                    </div>
                    <div class="form-floating mb-3 col">
                        <input type="text" class="form-control" id="last_name"
                            name="last_name" value="<%- last_name %>">
                        <label for="last_name">Last Name</label>
                    </div>
                    <div class="form-floating col-2">
                        <select class="form-select" id="suffix" name="suffix">
                            <option selected>
                                <%- suffix %>
                            </option>
                            <option value="">None</option>
                            <option value="Jr.">Jr.</option>
                            <option value="Sr.">Sr.</option>
                            <option value="PhD">PhD</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                        </select>
                        <label for="suffix">Suffix</label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickname" name="nickname"
                        value="<%- nickname %>">
                    <label for="nickname">Nickname</label>
                </div>
                <h3 class="fs-4 fw-light text-secondary">Organization</h3>
                <hr>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title"
                        value="<%- title %>">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="role" name="role"
                        value="<%- role %>">
                    <label for="role">Role</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="work_url" name="work_url"
                        value="<%- work_url %>">
                    <label for="work_url">Work URL</label>
                </div>
                <button type="button" class="fs-4 fw-light w-100 btn p-0 text-secondary"
                    onmouseover="this.classList.remove('text-secondary')"
                    onmouseout="this.classList.add('text-secondary')"
                    onclick="addEmail('<%- emails.length %>')"><span class="float-start">Emails</span><i
                        class="bi bi-plus-circle float-end"></i></button>
                <hr>
                <div id="emails">
                    <% emails.forEach((email, index)=> { %>
                    <div id="email-<%- index %>" class="row mb-3">
                        <div class="form-floating col-2">
                            <select class="form-select" name="emailType" id="emailType">
                                <option selected>
                                    <%- email.type %>
                                </option>
                                <option value="work">work</option>
                                <option value="school">school</option>
                                <option value="home">home</option>
                            </select>
                            <label for="emailType">Type</label>
                        </div>
                        <div class="form-floating col-9">
                            <input type="text" class="form-control" name="email" value="<%- email.email %>">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-1 d-flex align-middle">
                            <button type="button" class="btn text-secondary"
                                onmouseover="this.classList.remove('text-secondary')"
                                onmouseout="this.classList.add('text-secondary')"
                                onclick="del('email-<%- index %>')"><i
                                    class="bi bi-trash3 text-center fs-5"></i></button>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <button type="button" class="fs-4 fw-light w-100 btn p-0 text-secondary"
                    onmouseover="this.classList.remove('text-secondary')"
                    onmouseout="this.classList.add('text-secondary')"
                    onclick="addPhone('<%- phones.length %>')"><span class="float-start">Phone Numbers</span><i
                        class="bi bi-plus-circle float-end"></i></button>
                <hr>
                <div id="phones">
                    <% phones.forEach((phone, index)=> { %>
                    <div id="phone-<%- index %>" class="row mb-3">
                        <div class="form-floating col-2">
                            <select class="form-select" name="phoneType">
                                <option selected>
                                    <%- phone.type %>
                                </option>
                                <option value="mobile">mobile</option>
                                <option value="school">school</option>
                                <option value="school">cell</option>
                                <option value="home">home</option>
                                <option value="work">work</option>
                                <option value="main">main</option>
                                <option value="work fax">work fax</option>
                                <option value="home fax">home fax</option>
                            </select>
                            <label for="phoneType">Type</label>
                        </div>
                        <div class="form-floating col-9">
                            <input type="text" class="form-control" name="phone" value="<%- phone.phone %>">
                            <label for="phone">Phone</label>
                        </div>
                        <div class="col-1 d-flex align-middle">
                            <button type="button" class="btn text-secondary"
                                onmouseover="this.classList.remove('text-secondary')"
                                onmouseout="this.classList.add('text-secondary')"
                                onclick="del('phone-<%- index %>')"><i
                                    class="bi bi-trash3 text-center fs-5"></i></button>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <button type="button" class="fs-4 fw-light w-100 btn p-0 text-secondary"
                    onmouseover="this.classList.remove('text-secondary')"
                    onmouseout="this.classList.add('text-secondary')"
                    onclick="addAddress('<%- addresses.length %>')"><span
                        class="float-start">Addresses</span><i class="bi bi-plus-circle float-end"></i></button>
                <hr>
                <div id="addresses">
                    <% addresses.forEach((address, index)=> { %>
                        <div id="address-<%- index %>" class="row mb-3">
                            <div class="col-11">
                                <div class="form-floating mb-3">
                                    <select class="form-select" name="addressType">
                                        <option selected><%- address.type %></option>
                                        <option value="home">home</option>
                                        <option value="work">work</option>
                                        <option value="school">school</option>
                                    </select>
                                    <label for="addressType">Type</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="address_line1" name="address_line1" value="<%- address.address.address_line1%>"
                                        required>
                                    <label for="address_line1">Address Line 1</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="address_line2" name="address_line2" value="<%- address.address.address_line2 %>">
                                    <label for="address_line1">Address Line 2</label>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-floating col-5">
                                        <input type="text" class="form-control" id="city" name="city" value="<%- address.address.city %>">
                                        <label for="city">City</label>
                                    </div>
                                    <div class="form-floating col-3">
                                        <select class="form-control" name="state">
                                            <option value="<%- address.address.state %>"><%- address.address.state %></option>
                                            <option value="AL">AL</option>
                                            <option value="AK">AK</option>
                                            <option value="AR">AR</option>
                                            <option value="AZ">AZ</option>
                                            <option value="CA">CA</option>
                                            <option value="CO">CO</option>
                                            <option value="CT">CT</option>
                                            <option value="DC">DC</option>
                                            <option value="DE">DE</option>
                                            <option value="FL">FL</option>
                                            <option value="GA">GA</option>
                                            <option value="HI">HI</option>
                                            <option value="IA">IA</option>
                                            <option value="ID">ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN">IN</option>
                                            <option value="KS">KS</option>
                                            <option value="KY">KY</option>
                                            <option value="LA">LA</option>
                                            <option value="MA">MA</option>
                                            <option value="MD">MD</option>
                                            <option value="ME">ME</option>
                                            <option value="MI">MI</option>
                                            <option value="MN">MN</option>
                                            <option value="MO">MO</option>
                                            <option value="MS">MS</option>
                                            <option value="MT">MT</option>
                                            <option value="NC">NC</option>
                                            <option value="NE">NE</option>
                                            <option value="NH">NH</option>
                                            <option value="NJ">NJ</option>
                                            <option value="NM">NM</option>
                                            <option value="NV">NV</option>
                                            <option value="NY">NY</option>
                                            <option value="ND">ND</option>
                                            <option value="OH">OH</option>
                                            <option value="OK">OK</option>
                                            <option value="OR">OR</option>
                                            <option value="PA">PA</option>
                                            <option value="RI">RI</option>
                                            <option value="SC">SC</option>
                                            <option value="SD">SD</option>
                                            <option value="TN">TN</option>
                                            <option value="TX">TX</option>
                                            <option value="UT">UT</option>
                                            <option value="VT">VT</option>
                                            <option value="VA">VA</option>
                                            <option value="WA">WA</option>
                                            <option value="WI">WI</option>
                                            <option value="WV">WV</option>
                                            <option value="WY">WY</option>
                                        </select>
                                        <label for="state">State</label>
                                    </div>
                                    <div class="form-floating col-4">
                                        <input type="text" class="form-control" id="postal" name="postal" value="<%- address.address.postal%>">
                                        <label for="zipcode">Postal Code</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex align-middle">
                                <button type="button" class="btn text-secondary"
                                    onmouseover="this.classList.remove('text-secondary')"
                                    onmouseout="this.classList.add('text-secondary')"
                                    onclick="del('address-<%- index %>')"><i
                                        class="bi bi-trash3 text-center fs-5"></i></button>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <h3 class="fs-4 fw-light text-secondary">Personal</h3>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="birthday" name="birthday" value="<%- birthday %>">
                                    <label for="address_line1">Birthday</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="anniversary" name="anniversary" value="<%- anniversary %>">
                                    <label for="address_line1">Anniversary</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating">
                                    <select class="form-select" id="gender" name="gender">
                                        <option selected>
                                            <%- gender %>
                                        </option>
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                        <option value="O">Other</option>
                                    </select>
                                    <label for="gender">Gender</label>
                                </div>
                            </div>
                        </div>
                <button type="button" class="fs-4 fw-light w-100 btn p-0 text-secondary"
                        onmouseover="this.classList.remove('text-secondary')"
                        onmouseout="this.classList.add('text-secondary')"
                        onclick="addSocial('<%- socials.length %>')"><span
                        class="float-start">Social Media </span><i class="bi bi-plus-circle float-end"></i></button>
                        <hr>
                <div id="socials">
                    <% socials.forEach((social, index)=> { %>
                    <div id="social-<%- index %>" class="row mb-3">
                        <div class="form-floating col-2">
                            <select class="form-select" name="socialType"
                                aria-label="Floating label select example">
                                <option selected>
                                    <%- social.type %>
                                </option>
                                <option value="LinkedIn">LinkedIn</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Facebook">Facebook</option>
                                <option value="TikTok">TikTok</option>
                                <option value="ForeverBuffs">ForeverBuffs</option>
                                <option value="Github">Github</option>
                                <option value="Snapchat">Snapchat</option>
                            </select>
                            <label for="socialType">Type</label>
                        </div>
                        <div class="form-floating col-9">
                            <input type="text" class="form-control" name="url" value="<%- social.url %>">
                            <label for="url">URL</label>
                        </div>
                        <div class="col-1 d-flex align-middle">
                            <button type="button" class="btn text-secondary"
                                onmouseover="this.classList.remove('text-secondary')"
                                onmouseout="this.classList.add('text-secondary')"
                                onclick="del('social-<%- index %>')"><i
                                    class="bi bi-trash3 text-center fs-5"></i></button>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <h3 class="fs-4 fw-light text-secondary">Notes</h3>
                <hr>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="notes" name="notes" style="height: 100px"></textarea>
                    <label for="notes">Notes</label>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<%- include ('../partials/footer') %>